name: Backend CI

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always
  TEST_DATABASE_URL: postgres://postgres:password@localhost:5432/aredl_test
  JWT_SECRET: ${{ secrets.JWT_SECRET }}
  DISCORD_CLIENT_ID: ${{ secrets.DISCORD_CLIENT_ID }}
  DISCORD_CLIENT_SECRET: ${{ secrets.DISCORD_CLIENT_SECRET }}
  DISCORD_REDIRECT_URI: ${{ secrets.DISCORD_REDIRECT_URI }}

jobs:
  test:

    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: password
          POSTGRES_DB: aredl_test
        options: >-
          --health-cmd "pg_isready -U postgres"
          --health-interval 5s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
    - uses: actions/checkout@v4

    - name: Installing rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true
        components: llvm-tools-preview

    - name: Cache cargo for main
      uses: Swatinem/rust-cache@v1

    - name: Run unit tests
      uses: actions-rs/cargo@v1
      with:
        command: test
  build-api:
    needs: test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
        - uses: actions/checkout@v4
        
        - name: Login to GitHub Container Registry
          uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}
            
        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3
        
        - name: Set owner name to lowercase for docker compatibility
          run: |
            echo "OWNER_LC=${OWNER,,}" >>${GITHUB_ENV}
          env:
            OWNER: '${{ github.repository_owner }}'
          
        - name: Build and push API image
          uses: docker/build-push-action@v5
          with:
            context: .
            file: ./Dockerfile
            push: true
            tags: |
              ghcr.io/${{ env.OWNER_LC }}/aredl_backend_api:latest
              ghcr.io/${{ env.OWNER_LC  }}/aredl_backend_api:${{ github.sha }}
            cache-from: type=registry,ref=ghcr.io/${{ env.OWNER_LC  }}/aredl_backend_api:buildcache
            cache-to: type=registry,ref=ghcr.io/${{ env.OWNER_LC  }}/aredl_backend_api:buildcache,mode=max
  
  build-migrate:
    needs: test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
        - uses: actions/checkout@v4
        
        - name: Login to GitHub Container Registry
          uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}
            
        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3
        
        - name: Set owner name to lowercase for docker compatibility
          run: |
            echo "OWNER_LC=${OWNER,,}" >>${GITHUB_ENV}
          env:
            OWNER: '${{ github.repository_owner }}'
          
        - name: Build and push migrate image
          uses: docker/build-push-action@v5
          with:
            context: .
            file: ./tools/seed_aredl/Dockerfile
            push: true
            tags: |
              ghcr.io/${{ env.OWNER_LC  }}/migrate:latest
              ghcr.io/${{ env.OWNER_LC  }}/migrate:${{ github.sha }}
            cache-from: type=registry,ref=ghcr.io/${{ env.OWNER_LC  }}/migrate:buildcache
            cache-to: type=registry,ref=ghcr.io/${{ env.OWNER_LC  }}/migrate:buildcache,mode=max

