name: Backend CI/CD

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always
  RUST_TEST_THREADS: 1
  TEST_DATABASE_URL: postgres://postgres:password@localhost:5432/aredl_test
  JWT_SECRET: ${{ secrets.JWT_SECRET }}
  DISCORD_CLIENT_ID: ${{ secrets.DISCORD_CLIENT_ID }}
  DISCORD_CLIENT_SECRET: ${{ secrets.DISCORD_CLIENT_SECRET }}
  DISCORD_REDIRECT_URI: ${{ secrets.DISCORD_REDIRECT_URI }}
  BUILD_PROFILE: release

jobs:
  test:

    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: password
          POSTGRES_DB: aredl_test
        options: >-
          --health-cmd "pg_isready -U postgres"
          --health-interval 5s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
    - uses: actions/checkout@v4

    - name: Installing rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true
        components: llvm-tools-preview

    - name: Cache cargo for main
      uses: Swatinem/rust-cache

    - name: Run unit tests
      uses: actions-rs/cargo@v1
      with:
        command: test
  build-api:
    needs: test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
        - uses: actions/checkout@v4
        
        - name: Login to GitHub Container Registry
          uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}
            
        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3
        
        - name: Set owner name to lowercase for docker compatibility
          run: |
            echo "OWNER_LC=${OWNER,,}" >>${GITHUB_ENV}
          env:
            OWNER: '${{ github.repository_owner }}'
          
        - name: Build and push API image
          uses: docker/build-push-action@v5
          with:
            context: .
            file: ./Dockerfile
            push: true
            build-args: |
              BUILD_PROFILE=${{ env.BUILD_PROFILE }}
            tags: |
              ghcr.io/${{ env.OWNER_LC }}/aredl_backend_api:latest
              ghcr.io/${{ env.OWNER_LC  }}/aredl_backend_api:${{ github.sha }}
            cache-from: type=registry,ref=ghcr.io/${{ env.OWNER_LC  }}/aredl_backend_api:buildcache
            cache-to: type=registry,ref=ghcr.io/${{ env.OWNER_LC  }}/aredl_backend_api:buildcache,mode=max
  
  build-migrate:
    needs: test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
        - uses: actions/checkout@v4
        
        - name: Login to GitHub Container Registry
          uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}
            
        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3
        
        - name: Set owner name to lowercase for docker compatibility
          run: |
            echo "OWNER_LC=${OWNER,,}" >>${GITHUB_ENV}
          env:
            OWNER: '${{ github.repository_owner }}'
          
        - name: Build and push migrate image
          uses: docker/build-push-action@v5
          with:
            context: .
            file: ./tools/seed_aredl/Dockerfile
            push: true
            tags: |
              ghcr.io/${{ env.OWNER_LC  }}/migrate:latest
              ghcr.io/${{ env.OWNER_LC  }}/migrate:${{ github.sha }}
            cache-from: type=registry,ref=ghcr.io/${{ env.OWNER_LC  }}/migrate:buildcache
            cache-to: type=registry,ref=ghcr.io/${{ env.OWNER_LC  }}/migrate:buildcache,mode=max
  deploy:
    needs: [test, build-api, build-migrate]
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v4
        
        - name: Create SSH key
          run: |
            mkdir -p ~/.ssh
            echo "${{ secrets.DEPLOY_KEY }}" > ~/.ssh/id_rsa
            chmod 600 ~/.ssh/id_rsa
            ssh-keyscan -H ${{ secrets.DEPLOY_HOST }} >> ~/.ssh/known_hosts

        - name: Create env file
          run: |
            echo "COMMIT_HASH=${{ github.sha }}" >> .env
            echo "API_HOST=${{ secrets.API_HOST }}" >> .env
            echo "API_PORT=${{ secrets.API_PORT }}" >> .env

        - name: Copy files
          run: |
            scp docker-stack.yml ${{ secrets.DEPLOY_USER }}@${{ secrets.DEPLOY_HOST }}:~/docker-stack.yml
            scp .env ${{ secrets.DEPLOY_USER }}@${{ secrets.DEPLOY_HOST }}:~/.env

        - name: Deploy API
          run: |
            ssh ${{ secrets.DEPLOY_USER }}@${{ secrets.DEPLOY_HOST }} "\
            docker login ghcr.io -u ${{ secrets.GHCR_USERNAME }} -p ${{ secrets.GHCR_TOKEN }} && \
            COMMIT_HASH=${{ github.sha }} \
            API_HOST=${{ secrets.API_HOST }} \
            API_PORT=${{ secrets.API_PORT }} \
            docker stack deploy \
            --with-registry-auth \
            --compose-file docker-stack.yml \
            aredl_backend_stack"

        - name: Cleanup SSH key
          run: rm -rf ~/.ssh
          if: always()

