name: Backup of the prod db

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
  workflow_call:

jobs:
  backup:
    runs-on: ubuntu-latest
    steps:
    - name: Install rclone
      run: |
        curl https://rclone.org/install.sh | sudo bash

    - name: Create SSH key
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.DEPLOY_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -H ${{ secrets.DEPLOY_HOST }} >> ~/.ssh/known_hosts

    - name: Generate backup filename
      run: |
          echo "BACKUP_FILENAME=aredl_backup_$(date +'%Y%m%dT%H%MZ').dump.gz" >> $GITHUB_ENV

    - name: Dump prod db
      uses: appleboy/ssh-action@v0.1.7
      with:
        host:     ${{ secrets.DEPLOY_HOST }}
        username: ${{ secrets.DEPLOY_USER }}
        key:      ${{ secrets.DEPLOY_KEY }}
        script: |
          DUMP_FILE="/tmp/${{ env.BACKUP_FILENAME }}"
          PROD_DB=$(docker ps \
          --filter label=com.docker.swarm.service.name=aredl_backend_stack_db \
          --format "{{.Names}}")
          PGUSER=$(docker exec "$PROD_DB" cat /run/secrets/postgres_user)
          docker exec "$PROD_DB" pg_dump -U "$PGUSER" -Fc aredl \
          | gzip > $DUMP_FILE

    - name: Copy backup dump back to worker
      run: |
        scp "${{ secrets.DEPLOY_USER }}@${{ secrets.DEPLOY_HOST }}:/tmp/${{ env.BACKUP_FILENAME }}" .

    - name: Configure rclone for Drive
      env:
        RCLONE_CONFIG_PASS: ''
        GDRIVE_SA_KEY: ${{ secrets.GDRIVE_SA_KEY }}
      run: |
        echo "$GDRIVE_SA_KEY" > service-account.json
        export RCLONE_CONFIG=/tmp/rclone.conf

        rclone --config /tmp/rclone.conf config create \
          gdrive_drive drive \
          scope drive.file \
          service_account_file service-account.json \
          root_folder_id ${{ secrets.GDRIVE_FOLDER_ID }} \
          

    - name: Upload backup to Drive
      run: |
        rclone --config /tmp/rclone.conf copy \
        ${{ env.BACKUP_FILENAME }} \
        gdrive_drive:/ \
        --quiet \
        --drive-chunk-size 64M \
        --stats 0 

    - name: Cleanup SSH key
      run: rm -rf ~/.ssh
      if: always()