name: Deploy

concurrency: deployment

on:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  deploy_main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Installing rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: llvm-tools-preview

      - name: Cache cargo for main
        uses: Swatinem/rust-cache@v1

      - name: Build main
        run: cargo build --release

      - name: Deploy main to server
        uses: burnett01/rsync-deployments@6.0.0
        with:
          switches: -avz
          path: ./target/release/aredl-backend
          remote_path: ${{ secrets.DEPLOY_PATH }}
          remote_host: ${{ secrets.DEPLOY_HOST }}
          remote_user: ${{ secrets.DEPLOY_USER }}
          remote_key: ${{ secrets.DEPLOY_KEY }}

      - name: Restart main service
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          key: ${{ secrets.DEPLOY_KEY }}
          script: sudo systemctl restart aredl-backend-v2

  deploy_migration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Installing rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Cache cargo for migration
        uses: Swatinem/rust-cache@v1
        with:
          working-directory: tools/seed_aredl

      - name: Build migration
        run: cargo build --release
        working-directory: tools/seed_aredl

      - name: Deploy migration to server
        uses: burnett01/rsync-deployments@6.0.0
        with:
          switches: -avz
          path: ./tools/seed_aredl/target/release/seed_aredl
          remote_path: ${{ secrets.DEPLOY_PATH }}
          remote_host: ${{ secrets.DEPLOY_HOST }}
          remote_user: ${{ secrets.DEPLOY_USER }}
          remote_key: ${{ secrets.DEPLOY_KEY }}
